 .background-1{
    background-image: url('../../../Photos/banner/banner1.jpg');
    
}
.background-2{
    background-image: url('../../../Photos/banner/banner2.jpg');
}
.background-3{
    background-image: url('../../../Photos/banner/banner3.jpg');
} 
